.advantages {
  display: flex;
}
.advantages-section {
  position: relative;
  background: url(../../../img/pattern-three.png) left top 55% no-repeat;
}
.advantages-section::before {
  content: url(../../../img/raspberry.png);
  position: absolute;
  left: 0;
  bottom: -113px;
}
.advantages__item {
  flex: 1;
  padding: 0 3%;
  position: relative;
}
.advantages__item::before {
  content: url(../../../img/points.png);
  position: absolute;
  top: 50px;
  right: 0;
  transform: translateX(50%);
}
.advantages__item:first-child {
  padding-left: 0;
}
.advantages__item:last-child {
  padding-right: 0;
}
.advantages__item:last-child::before {
  display: none;
}