.buy {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.buy__price {
  font-size: 3.333333rem;
  margin-right: 1.722222rem;
  line-height: 1;
  font-weight: lighter;
}
.buy__btn {
  padding: 1.111111rem 2.333333rem;
}