//breakpoints

$tablets: 768px;
$phones: 480px;
$baseFontSize: 18px;

@import "media";
@import "layout";
@import "normalize";
@import "blocks/section";
@import "blocks/hero";
@import "blocks/header";
@import "blocks/logo";
@import "blocks/menu";
@import "blocks/phone";
@import "blocks/btn";
@import "blocks/bullets";
@import "blocks/bullet";
@import "blocks/headline";
@import "blocks/advantages";
@import "blocks/advantage";
@import "blocks/reviews";
@import "blocks/avatar";
@import "blocks/form";
@import "blocks/radio";
@import "blocks/fixed";
@import "blocks/hamburger";




































